body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:38px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:115px;
  width:321px;
  height:38px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:533px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:153px;
  width:321px;
  height:533px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:258px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:33px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:163px;
  width:23px;
  height:33px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:163px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:320px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:291px;
  width:472px;
  height:320px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:33px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:318px;
  width:48px;
  height:33px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:361px;
  width:290px;
  height:1px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:318px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:33px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:507px;
  width:48px;
  height:33px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:507px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:550px;
  width:290px;
  height:1px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:361px;
  width:300px;
  height:198px;
  font-size:28px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
