body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:686px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:0px;
  width:380px;
  height:800px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:38px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:115px;
  width:321px;
  height:38px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:533px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:153px;
  width:321px;
  height:533px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:258px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:33px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:163px;
  width:23px;
  height:33px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:163px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:320px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:291px;
  width:472px;
  height:320px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:33px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:318px;
  width:48px;
  height:33px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:361px;
  width:290px;
  height:1px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:318px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:33px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:507px;
  width:48px;
  height:33px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:507px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:550px;
  width:290px;
  height:1px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:277px;
  width:300px;
  height:198px;
  font-size:28px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
