body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1143px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:0px;
  width:380px;
  height:800px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:34px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:117px;
  width:321px;
  height:34px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:536px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:151px;
  width:321px;
  height:536px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:260px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:33px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:161px;
  width:25px;
  height:33px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:161px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:168px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:204px;
  width:321px;
  height:168px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#66FF66;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:271px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#66FF66;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:168px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:372px;
  width:321px;
  height:168px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0099FF;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:439px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#0099FF;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:147px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:540px;
  width:321px;
  height:147px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF33CC;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:599px;
  width:70px;
  height:24px;
  font-size:20px;
  color:#FF33CC;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:204px;
  width:703px;
  height:330px;
  font-size:28px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  word-wrap:break-word;
}
