body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:472px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:150px;
  width:320px;
  height:472px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:228px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:63px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:622px;
  width:320px;
  height:63px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:117px;
  width:320px;
  height:33px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:629px;
  width:36px;
  height:34px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:663px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:663px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:629px;
  width:36px;
  height:34px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:629px;
  width:36px;
  height:34px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:663px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:663px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:629px;
  width:36px;
  height:34px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:119px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:224px;
  width:275px;
  height:119px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#00FF99;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:301px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#00FF99;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:168px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#000000;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:176px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:168px;
  width:199px;
  height:32px;
  color:#FFFFFF;
  text-align:center;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:119px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:362px;
  width:275px;
  height:119px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF33CC;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:445px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FF33CC;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:119px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:497px;
  width:275px;
  height:119px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0099FF;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:588px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#0099FF;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
